<style>
    nav ul {
        margin: 0;
        padding-right: 10px;
        text-align: right;
    }

    nav ul>li {
        display: inline;
        font-size: 30px;
    }

    li>a {
        color: purple;
    }

    nav {
        background-color: gray;
        height: 50px;
    }
</style>
<nav>
    <ul>
        <li>
            <a href="{{ site.github.url }}/">Home</a>
        </li>

        <li>
            <a href="{{ site.github.url }}/blog.html">Blog</a>
        </li>
    </ul>
</nav>
